<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.denis.gamestrategy">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher3"
        android:label="Tribes: Test of Time"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity
            android:name=".Gameplay.GameplayActivity"
            android:screenOrientation="userLandscape" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="userLandscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ChooseActivity"
            android:screenOrientation="userLandscape" />
        <activity
            android:name=".OptionActivity"
            android:screenOrientation="userLandscape" />
        <activity
            android:name=".MapOptionActivity"
            android:screenOrientation="userLandscape" />
        <activity android:name=".TestActivity"></activity>
    </application>

</manifest>